hibernate.connection.driver_class = org.postgresql.Driver
hibernate.connection.url = jdbc:postgresql://localhost/retsdb2
hibernate.connection.username = kgarner
hibernate.connection.password = kgarner
hibernate.statement_cache.size = 30
hibernate.c3p0.max_size = 15
hibernate.c3p0.min_size = 3
hibernate.c3p0.timeout = 60
hibernate.c3p0.max_statements = 30
hibernate.dialect = net.sf.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql = true
